<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <h3> Code Is Fun </h3>

      <ul class="nav">
        <li><a title="主页" href="/page">主页</a></li>
        <li><a title="列表" href="/page/view">列表</a></li>
        <% if(locals.islogin){%>
          <li class="pull-right"><a title="退出" href="/user/logout">退出</a></li>
          <li class="pull-right"><a>用户：<%= username %></a></li>
        <% }else{%>
          <li><a title="登陆" href="/user/login">登陆</a></li>
          <li><a title="注册" href="/user/reg">注册</a></li>
        <%}%>
      </ul>
  </div>
</nav>

<style type="text/css">
    .nav {
        padding: 5px 0;
    }

    .nav li {
        display: inline-block;
    }

    .navbar .container-fluid {
      max-width: 960px;
      margin: 0 auto;
    }
</style>
