<!-- views/partials/nav.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <h3> Code Is Fun </h3>

      <ul class="nav navbar-nav">
        <li><a href="/view">查看</a></li>
        <li><a href="/insert">新增</a></li>
        <li><a href="#">Link</a></li>
      </ul>
  </div>
</nav>