<!DOCTYPE html>
<html>
  <head>
      <% include ./partials/header %>
  </head>
  <body>
    <div class="panel">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    
        <% if(locals.islogin){%>
          <p>
            <h2>用户：<%= username %></h2><span class="col-sm-offset-1">已经登陆</span>
          </p>
          <div class="text-center">
              <a href="/page" class="btn btn-default">前往主页</a>
          </div>
        <% }else{%>
          <p><a href="/user/login">前往登录</a></p>
        <%}%>
    </div>
    <style lang="style">
      h2 {
        display: inline-block;
      }
    </style>
  </body>
</html>
