body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.panel {
  width: 600px;
  margin: 0 0 0 50%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
  padding: 10px 20px;
  position: absolute;
  left: -300px;
  top: 200px;
}

.insert-content {
  max-width:600px;
  margin:0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
