<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>姓名</th>
            <th>性别</th>
            <th>成绩</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="content">
        </tbody>
      </table>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <script>
    var id = window.location.pathname.match(/view\/(\d+)/)[1];
    let model = {
      getItem: (id) => {
        return $.ajax({
          url: '/api/view/' + id,
          method: "GET",
        })
      }
    }

    model.getItem(id).then((data) => {
      let string = '';
      data.forEach(function (item, index) {
        string += `<tr>`;
        string += `<td>${index + 1}</td><td>${item.name}</td><td>${item.sex}</td><td>${item.degree}</td>`;
        string += `<td><a href="javascript:void(0)" onclick="del(${item.id})">删除</a>  `;
        string += `<a href="javascript:void(0)" onclick="view(${item.id})">查看</a></td>`;
        string += `</tr>`
      }, this);

      $('#content').html(string);
    });
  </script>
</body>

</html>
