<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body>

  <header>
    <% include ../partials/nav %>
  </header>

  <main class="container">
    <h1>This is great</h1>
    <p>Welcome to use node-mysql</p>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
