<!-- views/pages/view.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body>

  <header>
    <% include ../partials/nav %>
  </header>
  <main class="container">
    <div class="insert-content">
      <form class="col-sm-12 form-horizontal" role="form">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="name">姓名</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="name" name="name" placeholder="姓名" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="sex">性别</label>
            <div class="col-sm-6">
              <div class="radio">
                <label for="sex_1">
                  <input type="radio" name="sex" value="1" id="sex_1" checked> 男
                </label>

                <label for="sex_0">
                  <input type="radio" name="sex" value="0" id="sex_0"> 女
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="degree">成绩</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="degree" name="degree" placeholder="成绩" required>
            </div>
          </div>

          <div class="text-center">
            <button type="button" onclick="add()" class="btn btn-default">提交</button>
          </div>

      </form>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <script>
    let model = {
      addData: (options) => {
        return $.ajax({
          url: '/api/insert',
          method: "POST",
          data: options
        })
      }
    }

    function add() {
      var data = {
        name: $('#name').val(),
        sex: $("input[name='sex']:checked").val(),
        degree: $('#degree').val()
      }

      for (var i in data) {
        if (!data[i]) {
          return false;
        }
      }

      model.addData(data).then(() => {
        window.location.href = '/page/view';
      });
    }
  </script>
</body>

</html>